.featured-banner {
    position: relative;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    padding: 0 15px 0 15px;
}

.featured-banner-image {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 10px;
}

.featured-banner-content {
    position: absolute;
    bottom: 10%;
    left: 5%;
    color: white;
    text-align: left;
}

.featured-banner-content h2 {
    font-size: 2.8rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.featured-banner-content p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.explore-button {
    display: inline-block;
    padding: 12px 20px;
    font-size: 1.2rem;
    font-weight: bold;
    color: black;
    background-color: white;
    border-radius: 30px;
    text-decoration: none;
    transition: all 0.3s ease;
}

.explore-button:hover {
    background-color: black;
    color: white;
}
