.menu-container {
  display: flex; 
    justify-content: flex-start;
    align-items: center;
    padding: 10px 0;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    width: 100%; 
    padding-left: 20px; 
}

.menu-item {
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    color: black;
    transition: color 0.3s ease;
    padding: 10px 8px;
}

.menu-item:hover {
  color: red;
}
